---
import type { CollectionEntry } from "astro:content";
import { Image } from "@unpic/astro";

interface Props {
  project: CollectionEntry<"work">;
}

const { data, slug } = Astro.props.project;
---

<a class="card" href={`/projects/${slug}`}>
  {
    data.image ? (
      <Image
        class="image"
        cdn="netlify"
        src={data.image}
        alt=""
        width={600}
        aspectRatio={7 / 4}
        layout="constrained"
      />
    ) : data.icon ? (
      <div class="icon">
        <Image
          cdn="netlify"
          src={data.icon}
          alt=""
          width={192}
          height={192}
          layout="constrained"
        />
      </div>
    ) : null
  }
  <div class="info">
    <h3>{data.title}</h3>
    <p class="description">{data.description}</p>
  </div>
</a>

<style>
  .card {
    display: block;
    border: 1px solid var(--gray-800);
    box-shadow: var(--shadow-sm);
    text-decoration: none;
    font-family: var(--font-brand);
    font-size: var(--text-lg);
    font-weight: 500;
    transition: box-shadow var(--theme-transition);
    transition: transform var(--theme-transition);
  }

  .info {
    padding: 1rem;
  }

  .icon {
    width: 100%;
    aspect-ratio: 7 / 4;
    border-bottom: 1px solid var(--gray-800);
    display: grid;
    place-items: center;
    padding: 1em;
    background-color: white;
  }

  .card:hover {
    box-shadow: var(--shadow-md);
    transform: scale(1.01);
  }

  .card img {
    transition: filter 0.5s ease;
  }

  .card:hover img {
    filter: saturate(200%);
  }

  h3 {
    color: var(--gray-200);
    font-size: var(--text-md);
    padding-bottom: 0.5rem;
  }

  p {
    color: var(--gray-200);
    font-weight: 300;
    font-size: var(--text-md);
    font-family: var(--font-body);
  }

  @media (min-width: 50em) {
    .card {
      min-height: 10rem;
    }

    .title {
    }
  }
</style>
